<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.argando.parcersample"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="14" android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <activity
                android:name=".ParcerSampleActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".backgroundupdate.ParceService" android:enabled="true"/>
        <receiver android:name=".backgroundupdate.UpdateReceiver" android:process=":remote"/>
        <receiver android:name=".backgroundupdate.OnBootReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <action android:name="com.argando.parcersample.widget.Widget.ACTION_WIDGET_BUTTON_UP"/>
                <action android:name="com.argando.parcersample.widget.Widget.ACTION_WIDGET_BUTTON_DOWN"/>
                <!--<action android:name="com.argando.parcersample.widget.Widget.ACTION_WIDGET_BUTTON_REFRESH"/>-->
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />
        </receiver>
        <!--<service android:name=".widget.Widget$UpdateService"/>-->

    </application>

</manifest>